@model IEnumerable<mvcproject.Models.客戶資料>

@{
    ViewBag.Title = "BatchIndex";
}

<h2>BatchIndex</h2>
                      @{
                      var items = Model.ToArray();
                      }
@using (Html.BeginForm("BatchUpdate", "Customers")) {

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@for (var i = 0; i < items.Length; i++) {
    @Html.HiddenFor(modelItem => items[i].Id)
    <tr>
        <td>
            @Html.EditorFor(modelItem => items[i].客戶名稱)
        </td>
        <td>
            @Html.EditorFor(modelItem => items[i].統一編號)
        </td>
        <td>
            @Html.EditorFor(modelItem => items[i].電話)
        </td>
        <td>
            @Html.EditorFor(modelItem => items[i].傳真)
        </td>
        <td>
            @Html.EditorFor(modelItem => items[i].地址)
        </td>
        <td>
            @Html.EditorFor(modelItem => items[i].Email)
        </td>
    </tr>
}

</table>
    <input type="submit" name="" value="BatchUpdate"/>
    }